<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>左列定宽，右列自适应</title>
    <style type="text/css">
        .left {
            float: left;
            background-color: #fc9;
            width: 200px;
            height: 500px;
        }

        .right {
            margin-left: 200px;
            background-color: #edf;
            height: 500px
        }
    </style>
</head>

<body>
    <div class="left">
        <p>左列定宽200px</p>
    </div>
    <div class="right">
        <p>
            右列margin-left设置200px
        </p>
    </div>
</body>

</html>